#margin{
    margin: 0;
    padding: 0;
}
/* topbar start */
.topbar{
    background-color: rgb(225, 242, 225);
    padding-top: 10px;
    padding-bottom: 10px;
}
.topbar .left a{
    text-decoration: none;
    padding-left: 20px;
    font-size: 16px;
    font-family: fantasy;
    color: rgb(7, 105, 7);
}

.topbar .left i{
    color: orange;
    padding-right: 5px;
}

.topbar .right a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 16px;
    font-family: fantasy;
    color: rgb(7, 105, 7);
}
.topbar .right a:hover{
    color: orange;
}
.topbar .right .btn{
    margin-right: 10px;
    padding-right: 12px;
    color: white;
}

@media (max-width:576px) {
    .topbar{
        display: none;
    }
    
}

/* topbar end */

/* navbar start */
.navbar ul li a {
    font-size: 20px;
    color: black;
    margin-left: 20px;
    font-family: serif;
      }

  .navbar-nav .nav-item:hover .nav-link 
  {
    color: green;
 
  }
  
   .navbar-nav .active {
      color: green !important;
  }

  .navbar-nav .nav-item .btn{
    background-color: rgb(2, 72, 2);
    color: white;
  }
  .navbar-nav .nav-item .btn:hover{
    background-color: orange;
  }
/* navbar end */

/* carousel start */
.carosel h6{
    font-family: cursive;
    color: orange;   
}

.carosel h1{
    font-size: 80px;
    font-family: serif;
    font-weight: bolder;
    padding-top: 50px;
}

.carosel p{
    font-family: serif;
    font-size: 25px;
    padding-top: 30px;
}
.carosel .btn-success{
    font-family: serif;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}
.carosel .btn-success:hover{
    background-color: orange;
}

@media (max-width: 576px) {
    .carosel img{
        min-height: 400px;
    }
    .carosel h1{
        font-size: 30px;
        font-family: serif;
        font-weight: bolder;
        padding-top: 10px;
    }
    .carosel p{
        font-family: serif;
        font-size: 15px;
        padding-top: 10px;
    }
    .carosel .btn-success{
        font-family: serif;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }
  }
  
/* carousel end */

/* about start */
.about{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about h6{
    font-family: serif;
    font-size: 14px;
    color: rgb(1, 97, 1);
    background-color: rgb(233, 244, 233);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.about h1{
    font-family:serif;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(0, 54, 0);
    padding-right: 50px;
    padding-top: 30px;
}
.about h5{
    font-size: 16px;
    font-family: serif;
    font-weight: bold;
    padding-top: 30px;
}
.about p{
    font-family: serif;
    padding-top: 20px;
    opacity: 0.8;
}

.about .icon i{
    color: rgb(1, 78, 1);
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
}

.about .icon h3{
    font-size: 20px;
    font-family: serif;
}
.about img{
    border-radius: 10px;
}

@media (max-width: 576px){
    .about .icon h3{
        font-size: 30px;
        font-family: serif;
        text-align: center;
    }
    .about{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .about .icon i{
        font-size: 50px;
    }
    .about h1{
        font-size: 30px;
        text-align: center;
        padding-right: 0px;
        padding-top: 10px;
    }
}
/* about end */

/* services start */
.service{
    background-color: rgb(219, 231, 219);
    padding-top: 100px;
    padding-bottom: 30px;
}

.service p{
    padding-top: 100px;
    text-align: center;
    font-family: serif;
    font-weight: bolder;
}
.service a{
    color: rgb(7, 110, 7);
}
.service h6{
    font-family: serif;
    color: orange;
}
.service h1{
    font-size: 60px;
    padding-top: 10px;
    font-family: serif;
    font-weight: bolder;
    color: rgb(2, 80, 2);
}
.service .service-item .service-img {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item:hover .service-img img {
    transform: scale(1.2);
}

.service .service-item .service-content {
    background-color: white;
}
.service-content h4{
font-size: 20px;
font-family: serif;
font-weight: bold;
padding-top: 20px;
color: rgb(8, 96, 8);
}

.service-content p{
    font-family: serif;
    padding-top: 5px;
    opacity: 0.7;
}

.service-content .btn{
    font-family: serif;
    font-weight: bolder;
    color: rgb(8, 78, 8);
}
@media (max-width:576px) {
    .service{
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .service .service-item .service-img {
        margin-top: 10px;
        position: relative;
        overflow: hidden;
    }
    .service p{
        padding-top: 30px;
    }

    .service h6{
        text-align: center;
    }
    .service h1{
        font-size: 40px;
        text-align: center;
    }
}
/* services end */

/* Wastage to Recycling Item start */
.wastage{
    background: linear-gradient(rgba(3, 70, 3, 0.5), rgb(2, 52, 2, 0.8)), url(img/wastage.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.wastage h6{
    color: orange;
    font-family: serif;
    font-weight: bold;
}
.wastage h1{
    font-family: serif;
    padding-top: 20px;
    font-size: 50px;
    color: white;
}

.wastage p{
    font-family: serif;
    color: white;
}
.wastage #btn1{
    font-family: serif;
    background-color: rgb(2, 74, 2);
    color: white;
    padding: 10px;
}
.wastage #btn1:hover{
    background-color: white;
    color: black;
}

.wastage #btn2{
    font-family: serif;
    background-color: white;
    padding: 10px;
    margin-left: 20px;
}

.wastage #btn2:hover{
    background-color: orange;
    color: white;
}

.wastage .card{
    text-align: center;
    margin-top: 100px;
}
.wastage .card img{
    margin-top: 20px;
}

.wastage .card h3{
    font-size: 22px;
    font-family: serif;
    padding-top: 20px;
    font-weight: bolder;
    color: rgb(3, 52, 3);
}

.wastage .card h5{
    font-size: 16px;
    font-family: serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
}

@media (max-width: 576px){
    .wastage .card{
        text-align: center;
        margin-top: 20px;
    } 
    .wastage{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .wastage h6{
        text-align: center;
    }
    .wastage h1{
        padding-top: 10px;
        font-size: 30px;
        text-align: center;
    }
     
}

@media (max-width:370px) {
    .wastage #btn2{
        margin-top: 20px;
        margin-left: 0px;
        padding: 10px;
    }
    
}

/* Wastage to Recycling Item end */

/* Waste Management start */
.management{
    background-color: whitesmoke;
    padding-top: 100px;
    padding-bottom: 100px;
}

.management .item{
    margin-top: 50px;
    background-color: white;
   
}

.management .item:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   

}

.management .item img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.management h6{
    color: orange;
    font-family: serif;
    font-weight: bolder;
}
.management h1{
    color: rgb(3, 69, 3);
    padding-top: 20px;
    font-size: 50px;
    font-family: serif;
    font-weight: bolder;
}
.management .managment-content h5{
    padding-top: 20px;
    font-size: 20px;
    font-family: serif;
    font-weight: 600;
    color: orange;
}
.management .managment-content h4{
    padding-top: 10px;
    font-size: 22px;
    font-family: serif;
    font-weight: bolder;
    color: rgb(2, 75, 2);
}
.management .managment-content p{
    padding-top: 10px;
    font-family: serif;
    opacity: 0.8;
}

.management .managment-content .btn{
    font-family: serif;
}

.management .managment-content .btn i{
    padding-left: 10px;
}

.waste-carousel .owl-dots .owl-dot {
    width: 30px;
    height: 5px;
    background-color: black;
    margin-right: 15px;
    margin-top: 50px;
    transition: 0.5s;
}

.waste-carousel .owl-dots .owl-dot.active {
    width: 30px;
    height: 8px;
    background-color: green !important;
    transition: 0.5s;
}


@media (max-width:576px){
    .owl-carousel .owl-dots{
        display: none;
    }
    .management{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .management h1{
        padding-top: 10px;
        font-size: 30px;
    }
}

/* Waste Management end */

/* Eco-friendly Services? start */
.choose_us{
    padding-top: 100px;
    padding-bottom: 100px;
}
.choose_us .left{
    padding-left: 0;
    padding-right: 100px;
}

.choose_us .right{
    padding-right: 150px;
}
.choose_us img{
    border-top-right-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    min-height: 500px;
}

.choose_us h6{
    font-family: serif;
    font-size: 16px;
    font-weight: bold;
    color: orange;
}
.choose_us h1{
    padding-top: 20px;
    font-family: serif;
    font-weight: bolder;
    color: rgb(2, 70, 2);
}

.choose_us p{
    padding-top: 20px;
    font-family: serif;
    opacity: 0.8;
}

.choose_us .button{
    margin-top: 10px;
}

.choose_us h5{
    margin-left: 20px;
    background-color: rgb(231, 243, 231);
    font-size: 16px;
    font-family: serif;
    font-weight: bolder;
    padding: 10px;
}
.choose_us i{
    padding-right: 10px;
}
.choose_us h4{
    padding-top: 20px;
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width:576px) {
    .choose_us .left{
        padding-left: 0;
        padding-right: 10px;
    }
    
    .choose_us .right{
        margin-top: 50px;
        padding-right: 10px;
    }
    .choose_us{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .choose_us img{
        min-height: 200px;
    }
    .choose_us h6{
        text-align: center;
    }
    .choose_us h1{
        text-align: center;
    }
    
}
/* Eco-friendly Services? end */

/* contact-home start */
.contact-home{
    background: linear-gradient(rgb(2, 68, 2,0.6),rgb(2, 57, 2,1)), url(img/contact_bg\ \(1\).jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-home h6{
    padding-top: 20px;
    font-size: 16px;
    font-family: serif;
    font-weight: bold;
    color: orange;
}

.contact-home h1{
    padding-top: 20px;
    padding-right: 150px;
    font-family: serif;
    font-weight: bolder;
}
.contact-home p{
    font-family: serif;
    padding-top: 20px;
    padding-right: 100px;
    opacity: 0.9;
}

.contact-home .check-icon{
    margin-top: 20px;
}

.contact-home .check-icon h4{
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
    font-family: serif;
}
.contact-home .check-icon i{
    color: orange;
    padding-right: 10px;
}

.contact-home #btn1{
    margin-top: 30px;
    margin-left: 130px;
    font-family: serif;
    padding: 10px;
    background-color: white;
    color: black;
}

.contact-home #btn1:hover{
    background-color: orange;
    color: white;
}

.contact-home .card{
    padding: 30px;
}

.contact-home .card h2{
    padding-top: 30px;
    font-family: serif;
    font-weight: bolder;
    color: rgb(1, 59, 1);
}

.contact-home .card h5{
    padding-top: 10px;
    font-family: serif;
    opacity: 0.8;
}
.contact-home .card label{
    font-family: serif;
    padding-top: 10px;
}
.contact-home .card input{
    margin-top: 5px;
    font-family: serif;
}
.contact-home .card select{
    font-family: serif;
}
.contact-home .card #btn2{
    margin-top: 50px;
    font-family: serif;
    padding: 10px;
    color: white;
    background-color: rgb(1, 63, 1);
}

.contact-home .card #btn2:hover{
    background-color: orange;
}

@media (max-width:576px) {

    .contact-home h1{
    padding-right: 0px;
    text-align: center;
}
.contact-home p{
    padding-right: 0px;
    text-align: center;
}
.contact-home h6{
    color: orange;
    text-align: center;
}
.contact-home{
    padding-top: 10px;
    padding-bottom: 30px;
}
}
/* contact-home end */

/* testimonial start */
.testimonial{
    background-color: rgb(188, 210, 188);
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width:576px) {
    .testimonial{
        padding-top: 30px;
        padding-bottom: 30px;
    }  
}
/* testimonial end */


/* blog start */
.blog{
    padding-top: 100px;
    padding-bottom: 100px;
}

.blog .blog-item .blog-img {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.2);
}


.blog h3{
    font-family: serif;
    font-size: 20px;
    color: orange;
}

.blog h1{
    font-family: serif;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bolder;
    color: rgb(1, 52, 1);
}
.blog .icon p{
    padding-right: 20px;
    font-family: serif;
    opacity: 0.7;
}
.blog .icon i{
    color: orange;
}
.blog .blog-content a{
    text-decoration: none;
}
.blog .blog-content h4{
    padding-top: 10px;
    font-size: 18px;
    font-family: serif;
    color: rgb(1, 74, 1);
    font-weight: bold;
}
.blog .blog-content h6{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: serif;
    font-size: 16px;
    opacity: 0.8;
}
.blog .blog-content .btn{
    font-family: serif;
    font-weight: bold;
    color: rgb(1, 56, 1);
}
.blog .blog-content{
    border: 1px solid rgb(217, 216, 216);
}
@media (max-width:576px) {
    .blog{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .blog .blog-item .blog-img {
        margin-top: 20px;
    }
    .blog h3{
        font-size: 20px;
        text-align: center;
    }
    
    .blog h1{
text-align: center;
font-size: 30px;
padding-top: 10px;
    }
}
/* blog end */

/* footer start */
.footer{
    background-color: rgb(2, 68, 2);
    padding-top: 100px;
}
.footer p{
    font-family: serif;
    font-size: 15px;
    color: white;
}
.footer h3{
    font-family: serif;
    font-weight: bold;
    font-size: 25px;
    color: orange;
}
.footer ul li a{
    text-decoration: none;
    font-family: serif;
    color: white;
}

.footer ul li a:hover{
    color: orange;
}

.footer ul li {
    padding-top: 10px;
}
.footer input{
    padding: 10px;
    font-family: serif;
}
.footer span{
    padding-left: 30px;
    padding-right:30px ;
    background-color: rgb(3, 70, 3);
}
.footer span:hover{
    background-color: orange;
}
.footer span a{
    color: white;
}
.footer h6{
    font-family: serif;
    font-size: 22px;
}

@media (max-width:576px) {
    .footer{
        padding-top: 20px;
    } 
}
/* footer end */

/* copyright start */
.copyright{
    background-color: rgb(1, 25, 1);
    color: white;
}
.copyright p{
    font-family: serif;
    text-align: center;
}
.copyright a{
    color: white;
    font-family: serif;
    text-decoration: none;
    padding-left: 20px;
    text-align: center;
}

.copyright a:hover{
    color: orange;
}
.copyright .icon{
    text-align: center;
}
/* copyright end */

/* about page start */

/* about-bg start */
.about-bg{
    background: linear-gradient(rgb(12, 12, 12,0.6),rgb(17, 16, 16,0.6)),url(img/breadcrumb\ \(1\).jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-bg h1{
    font-size: 100px;
    font-family: serif;
    font-weight: 900;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}
@media (max-width:576px) {
    .about-bg h1{
        font-size: 50px;
        font-family: serif;
        font-weight: 900;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
}
/* about-bg end */

/* project started today start*/
.project-start{
    background: linear-gradient(rgba(2, 86, 2, 0.6),rgb(2, 75, 2,0.8)),url(img/cta\ \(1\).jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.project-start h1{
    font-family: serif;
    font-size: 50px;
    padding-right: 20px;
}

.project-start .btn-outline-success{
    margin-top: 50px;
    margin-left: 20px;
    background-color: rgb(1, 70, 1);
    color: white;
    padding: 10px;
    font-family: serif;
}
.project-start .btn-outline-success:hover{
    background-color: white;
    color:black;
}

.project-start .btn-outline-light{
    margin-top: 50px;
    margin-left: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    font-family: serif;
}

.project-start .btn-outline-light:hover{
    background-color: orange;
    color: white;
}
/* project started today end */

/* Team Start */
.team{
    padding-top: 100px;
    padding-bottom: 100px;
}
.team h6{
    font-family: serif;
    font-size: 25px;
    color: orange;
    text-align: center;
}

.team h1{
    font-family: serif;
    font-size: 60px;
    color: rgb(3, 86, 3);
    padding-bottom: 10px;
    text-align: center;
}

.team .team-item {
    position: relative;
    z-index: 1;
}

.team .team-item .team-img {
    position: relative;
    overflow: hidden;
}

.team .team-item .team-icon .btn{
    background-color: white;
    color: rgb(3, 93, 3);
}

.team .team-item .team-icon .btn:hover{
    color: blue;
}

.team .team-item .team-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    transition: 0.5s;
    z-index: 2;

}

.team .team-item:hover .team-img::after {
    height: 100%;
}

.team .team-item .team-img .team-icon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: scale(-1);
    margin-bottom: 100%;
    background: transparent;
    transition: 0.5s;
    opacity: 0;
    z-index: 5;
    
}

.team .team-item:hover .team-img .team-icon {
    transform: scale(1);
    margin-bottom: 0;
    opacity: 1;
}

.team .team-item h4{
    padding-top: 10px;
    font-size: 25px;
    color: rgb(3, 103, 3);
    font-family: serif;
    font-weight: 500;
}

.team .team-item p{
    font-family: serif;
}
/* Team End */

/* about page end */


/* .service page start */
/* background start */
.service-bg{
    background: linear-gradient(rgb(12, 12, 12,0.6),rgb(17, 16, 16,0.6)),url(img/service_bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-bg h1{
    font-size: 100px;
    font-family: serif;
    font-weight: 900;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}
@media (max-width:576px) {
    .service-bg h1{
        font-size: 50px;
        font-family: serif;
        font-weight: 900;
        color: white;
        padding-top: 50px;
        padding-bottom:50px;
        text-align: center;
    }
}
/* background end */

/* service .testimonial start */
.testimonial-service{
    background: linear-gradient(rgb(250, 247, 247,0.9),rgb(249, 247, 247,0.9)),url(img/testimonial-map.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimonial-service h6{
    font-family: serif;
    color: orange;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.testimonial-service h1{
    font-family: serif;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: rgb(3, 56, 3);
    text-align: center;
}

.testimonial-service-carousel .testimonial-item{
    background-color: white;
}
/* service .testimonial end */

/* recycling item start */
.recycling{
    padding-top: 100px;
    padding-bottom: 30px;
}
.recycling h6{
    color: orange;
    font-family: serif;
    font-weight: bolder;
}
.recycling h1{
    color: rgb(3, 69, 3);
    padding-top: 20px;
    font-size: 50px;
    font-family: serif;
    font-weight: bolder;
}
.recycling p{
    padding-top: 50px;
    font-family: serif;
    text-align: center;
    font-size: 20px;
    opacity: 0.7;
}
.recycling a{
    font-weight: 900;
    color: rgb(2, 84, 2);
}
.recycling .recycling-item .recycling-img img{
    min-height: 80px;
    width: 80px;
    margin-top: 50px;
    margin-left: 50px;
}
.recycling .recycling-content h5{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-family: serif;
    font-weight: 600;
}
.recycling .recycling-content h4{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 22px;
    font-family: serif;
    color: rgb(2, 75, 2);
}
.recycling .recycling-content p{
    padding-top: 10px;
    padding-left: 20px;
    font-family: serif;
    opacity: 0.8;
}
.recycling .recycling-content i{
    color: rgb(1, 73, 1);
    padding-right: 10px;
}

.recycling .recycling-content .btn{
    font-family: serif;
    margin-left: 20px;
    margin-top: 20px;
}

.recycling .recycling-content .btn:hover{
    background-color: orange;
}

.recycling-carousel .owl-dots .owl-dot {
    width: 30px;
    height: 5px;
    background-color: black;
    margin-left: 15px;
    margin-top: 30px;
    transition: 0.5s;
}

.recycling-carousel .owl-dots .owl-dot.active {
    width: 30px;
    height: 8px;
    background-color: green !important;
    transition: 0.5s;
}
/* recycling item end */

/* .service page end */

/* Ecofix Team Page start */
.team-bg{
    background: linear-gradient(rgb(12, 12, 12,0.6),rgb(17, 16, 16,0.6)),url(img/team_bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.team-bg h1{
    font-size: 100px;
    font-family: serif;
    font-weight: 900;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

@media (max-width:576px) {
    .team-bg h1{
        font-size: 50px;
        font-family: serif;
        font-weight: 900;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
}
/* Ecofix Team Page end */

/* faq page start */
.faq-bg{
    background: linear-gradient(rgb(12, 12, 12,0.6),rgb(17, 16, 16,0.6)),url(img/faq_bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.faq-bg h1{
    font-size: 100px;
    font-family: serif;
    font-weight: 900;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

@media (max-width:576px) {
    .faq-bg h1{
        font-size: 50px;
        font-family: serif;
        font-weight: 900;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .faq .left h6{
        text-align: center;
        }
        .faq .left h1{
            text-align: center;
            font-size: 30px;
        }
}
/* faq-item start */
.faq{
    padding-top: 100px;
    padding-bottom: 100px;
}
.faq .left h6{
font-family: serif;
font-weight: 900;
color: orange;
}
.faq .left h1{
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: serif;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(1, 91, 1);
}
.faq .faq-item{
    border: 1px solid rgb(213, 208, 208);
    padding: 20px;
    margin-top: 20px;
}
.faq-item.active {
    box-shadow: 0 0 10px 4px rgba(22, 83, 238, 0.8);
}

.faq .faq-item a{
    text-decoration: none;
    font-family: serif;
    color: rgb(26, 25, 25);
}
.faq .faq-item h4{
    font-weight: bolder;
    font-size: 18px;
    color: rgb(3, 98, 3);
}
.faq .faq-item i {
    font-size: 25px;
    margin-left: auto;
    text-align: right;
}
.faq-item p {
    display: none; /* Initially hide the paragraph */
    font-family: serif;
    padding-top: 20px;
}

.faq .card{
    background-color: rgb(1, 62, 1);
    color: white;
    padding: 30px;
}
.faq .card h5{
    font-family: serif;
    font-weight: 900;
}
.faq .card .form-group{
    margin-top: 20px;
    padding: 10px;
    font-family: serif;
}
.faq .card .btn-light{
    margin-top: 20px;
    margin-left: 12px;
    font-family: serif;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
.faq .card .btn-light:hover{
  background-color: orange;
  color: white;
}

/* faq-item start */
/* faq page end */

/* pricing plans started */
.pricing-bg{
    background: linear-gradient(rgb(12, 12, 12,0.6),rgb(17, 16, 16,0.6)),url(img/faq_bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.pricing-bg h1{
    font-size: 100px;
    font-family: serif;
    font-weight: 900;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}
.pricing{
    background-color: rgb(218, 214, 214);
    padding-top: 100px;
    padding-bottom: 100px;
}
.pricing .card{
    padding: 30px;
    margin-top: 10px;
}
.pricing .card-header{
    background-color: transparent;
    border: none;
}
.pricing .card-header h4{
    font-family: serif;
    font-weight: bolder;
    color: rgb(1, 112, 1);
}
.pricing .card-header h1{
    padding-top: 10px;
    color: rgb(4, 86, 4);
    font-size: 50px;
    font-weight: bolder;
}
.pricing .card-header i{
    font-size: 20px;
    padding-right: 5px;
}
.pricing .card-header h6{
    padding-top: 8px;
    font-family: serif;
    font-weight: bolder;
    opacity: 0.7;
}

.pricing .card-body p{
    font-family: serif;
}

.pricing .card-body i{
    color: rgb(2, 95, 2);
    font-weight: bolder;
    padding-right: 20px;
}
.pricing .btn-success{
    font-size: 14px;
    font-family: serif;
    padding: 15px;
}
.pricing .btn-success:hover{
    background-color: orange;
}
@media (max-width:576px) {
    .pricing-bg h1{
        font-size: 50px;
        font-family: serif;
        font-weight: 900;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
}
/* pricing plans end */

/* get qoutation start */
.quotation-bg{
    background: linear-gradient(rgb(12, 12, 12,0.6),rgb(17, 16, 16,0.6)),url(img/breadcrumb\ \(1\).jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.quotation-bg h1{
    font-size: 100px;
    font-family: serif;
    font-weight: 900;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}
@media (max-width:576px) {
    .quotation-bg h1{
        font-size: 50px;
        font-family: serif;
        font-weight: 900;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
}

.quotation{
    background-color: rgb(233, 235, 233);
    padding-top: 100px;
    padding-bottom: 100px;
}
.quotation .card{
    padding: 50px;
}
.quotation .card-header{
    background-color: transparent;
    border: none;
}
.quotation .card-header h2{
    font-family: serif;
    font-weight: bolder;
    color: rgb(6, 65, 6);
}
.quotation .card-header p{
    font-family: serif;
    opacity: 0.8;
}
.quotation .card-body{
    padding: 50px;
}
.quotation .card-body h4{
    font-family: serif;
    padding-top: 50px;
    font-weight: bolder;
    color: rgb(2, 58, 2);
}
.quotation .card-body p{
    font-family: serif;
    opacity: 0.8;
}
.quotation .card-body input{
    font-family: serif;
    margin-bottom: 20px;
}
.quotation .card-body select{
    font-family: serif;
}
.quotation .card-body textarea{
    font-family: serif;
    margin-top: 20px;
}
.quotation .card-body .btn-outline-dark{
    font-family: serif;
}
.quotation .card-body .btn-outline-dark:hover{
    background-color: rgb(3, 85, 3);
    font-family: serif;
}

.quotation .card-body .btn-success{
    margin-top: 20px;
    font-family: serif;
}
.quotation .card-body .btn-success:hover{
    background-color: orange;
}
/* get qoutation end */

/* project page start */
.project-bg{
    background: linear-gradient(rgb(12, 12, 12,0.6),rgb(17, 16, 16,0.6)),url(img/project_bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.project-bg h1{
    font-size: 100px;
    font-family: serif;
    font-weight: 900;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.project-page{
    background-color: whitesmoke;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* project page end */